<div class="site-timezone-location">
    <h2>Specbee Assignment</h2>
    <div class="country">Country : {{ country }} </div>
    <div class="city">City : {{ city }} </div>
    <div class="time">Date & Time : {{ time }} </div>
</div>
